<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<!--Tab links-->
<div class="tab">
    <button class = "tablinks" onclick="openTab(event, 'You')" id="defaultOpen">You</button>
    <button class = "tablinks" onclick="openTab(event, 'Calender')">Calender</button>
    <button class = "tablinks" onclick="openTab(event, 'Groups')">Groups</button>
</div>

<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

<!--Tab Content-->
<div id="You" class="tabcontent">
    <h3>You</h3>
    <p>This is where your profile should be</p>
</div>

<div id="Calender" class="tabcontent">
    <h3>Calender</h3>
    <object width="400" height="400" data="calendar.html"></object>
</div>

<div id="Groups" class="tabcontent">
    <h3>Groups</h3>
    <h2>Groups</h2>
    <body>
        <p>This is where your groups should be</p>
    <script type="text/javascript" src="http://output46.rssinclude.com/output?type=js&amp;id=1207726&amp;hash=93d397ce99d4b7e54d6f6f31ee012895"></script>
        <h3>Goal Update</h3>
        <form action="/handle-user-post">
            <textarea name="updatePost" style="width: 55%; height:200px;"></textarea>
            <br>
            <input type="button" onclick="postToGroups(event, 'msg')" value="post">
        </form>
        <br>
        <script type="text/javascript" src="http://output46.rssinclude.com/output?type=js&amp;id=1207726&amp;hash=93d397ce99d4b7e54d6f6f31ee012895"></script>
    </body>
</div>
</body>
</html>
