<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript">
        var goalSet = [];
function createTable()
{
    goalSet.push(document.getElementById('Goal').value);
    var table = document.getElementById("goalTable");
    var theader = '<table id="goalTable" style="font-size: 20px" border="1">\n';
    var tbody = '<tr><th>'+document.getElementById('Goal').value+'</th></tr>\n';
    var tfooter = '</table>';
    if (goalSet.length == 1) {
      document.getElementById('wrapper').innerHTML = theader + tbody + tfooter;
      }
    else {
      var height = table.rows.length
      var row = table.insertRow(height)
      var cell = row.insertCell(0)
      cell.innerHTML = goalSet[height]
    }
    var table = document.getElementById("goalTable");
    document.getElementById('Goal').value = "";
        for (var i = 0; i < table.rows.length; i++) {
            for (var j = 0; j < table.rows[i].cells.length; j++)
            table.rows[i].cells[j].onclick = function () {
                tableFn(this);
            };
        }

    function tableFn(tableCell) {
        tableCell.style.backgroundColor ="green";
    }
}
</script>
  </head>
  <body>
    <header>
      <button type="button" name="You"> <a href="xdhacks2019\Feb092019_XdHacks_Levana\templates\goals.html">You</a></button>
      <button type="button" name="Calendar"> <a href="xdhacks2019\Feb092019_XdHacks_Levana\templates\calendar.html">Calendar</a></button>
      <button type="button" name="Groups"> <a href="Feb092019_XdHacks_Levana\templates\groups.html"></a> </button>
    </header>
    <h1>Goals for today</h1>
      <form onsubmit="return false">
      <input type="text" name="Goal" id="Goal"/>
      <input name="generate" type="submit" value="Set Goal" onclick='createTable();'/>
        </form>
      <div id="wrapper"></div>

  </body>
</html>
